body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

header {
  min-width: 20vw;
  background-color: #282828;
  min-height: 90vh;
  text-align: center;
  padding: 5vh 0px;
  display: flex;
  flex-direction: column;
}

.logoSection {
  height: 10%;
}

.linkHeader li {
  list-style: none;
  color: aliceblue;
  font-size: 2vw;
  margin-bottom: 8vh;
}

ul {
  padding-left: 0px;
}

a {
  text-decoration: none;
}

.pages {
  margin-top: 0%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selected {
  color: #5cb675 !important;
  font-weight: bold;
}

.sectionsContainer {
  padding: 0vw 5vw;
  width: 100%;
}

.sectionOneTitle {
  font-size: 3vw;
}

.subtitle {
  font-size: 2vw;
  font-weight: 500;
}

.presupuesto {
  display: flex;
}

.aler-message {
  width: 50%;
}

.disponible {
  background-color: #87c6e2;
}

.disponible p {
  margin-left: 1vw;
}

.restant {
  background-color: #cdffbc;
}

.restant p {
  margin-left: 1vw;
}

.formContent {
  display: flex;
  justify-content: space-between;
}

.formGasto {
  width: 55%;
}

.formGastoInput {
  width: 100%;
  height: 2.5vw;
  border-radius: 1vw;
  border: 2px solid #000000;
  padding: 0%;
  padding-left: 1vw;
}

.formValor {
  width: 40%;
}
.formValorInput {
  width: 100%;
  height: 3vw;
  border: none;
  background-color: #eaebe5;
  border-radius: 1vw;
  padding: 0%;
  padding-left: 1vw;
  margin-left: -1vw;
}

.btnSubmit {
  float: right;
  margin-top: 2vh;
  width: 8vw;
  height: 2.5vw;
  border: none;
  border-radius: 0.5vw;
  background-color: #0098fe;
  color: aliceblue;
  cursor: pointer;
}

.gastos {
  margin-top: 8vh;
}

/* ! ALERTAS */

.errorAlert {
  background-color: #e35f5d;
  height: 5vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eaebe5;
  margin-top: 2vh;
  font-weight: bold;
  text-transform: uppercase;
}

.succesAlert {
  background-color: #cdffbc;
  height: 5vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131313;
  margin-top: 2vh;
  font-weight: bold;
  text-transform: uppercase;
}

/*! LISTA GASTOS */

.gastoElement {
  background-color: #282828;
  height: 5vh;
  display: flex;
  align-items: center;
  color: #eaebe5;
  margin-top: 2vh;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 1% 1vw;
  border-radius: 10px;
}

.valorGasto {
  background-color: #0098fe;
  padding: 0.5vw;
  min-width: 5vw;
  text-align: center;
  border-radius: 5px;
}

.btnDelate {
  background-color: #830d0b;
  border: none;
  color: #eaebe5;
  height: 4vh;
  width: 7vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  cursor: pointer;
}

.nameGasto {
  width: 40%;
}

.danger {
  background-color: #e35f5d !important;
  color: #eaebe5;
}

.caution {
  background-color: #ffff83 !important;
}

.dead {
  background-color: #7c0303 !important;
  color: #eaebe5;
}

/*! SPINNER */

.spinner {
  padding: 2vh 0px;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #b80101;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
